*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.navbar{

  display: flex;
  align-items:center;
  padding: 20px;
  width: 100%;
  right: 0;
}
header{
  width: 100%;
}
body{
  background: radial-gradient(#fff,grey );
  display: block;
  width: auto;
}

nav{
  position: absolute;
  right: 0px;
  text-align:right;
  float: right;
  flex:1;
}
nav ul{
  display: inline-block;
  list-style-type: none;
}
nav ul li{
  display:inline-block;
  margin-right: 20px;
}
a{
  text-decoration: none;
  color:black;
}
p{
  color:#555;
}
hr{
  height:2.5px;
  color: black;
  width: 1000px;
  margin: auto;
  padding-left:25px;
  padding-right: 25px;
}


/* ------home----- */


.container{
  max-width: 1000px;
  margin: auto;
  padding-left:5%;
  padding-right: 2%;
  padding-bottom: 100px;


}
.row{
  padding-top:40px;
  display: flex;
  align-items: center;
  flex-wrap" wrap;
  justify-content: space-around;
}
.col-2{
  flex-basis: 100%;
  min-width:1000px;
}

.col-2 h1 {
  font-size: 67px;
  line-height: 70px;
  margin:30px 0;
}
.col-2 p{
  font-size: 1.5625em;
}
.btn{
  display: inline-block;
  background: red;
  color:#fff;
  padding: 8px 40px;
  margin: 40px;
  margin-bottom:100px;
  border-radius:30px;
  transition: 0.5s;

}
.btn:hover{
  background: #563434
}
.header hr{
  float: left;
  height:2.5px;
  color: black;
  width: 900px;
  margin: auto;
  padding-left:25px;
  padding-right: 25px;
}
.header .row{
  margin-top: 70px;
}

/* ------about----- */

.abcontainer{
  max-width: 1000px;
  margin: auto;
  padding-left:5%;
  padding-right: 25px;
  padding-bottom: 12%;
}
.abrow{
  display: flex;
  align-items: center;
  flex-wrap" wrap;
  justify-content: space-around;
}

.abcolumn {
  float: left;
  width: 50%;

}
.abcolumn-2 {
  padding-top:50px;
  float: left;
  width: 50%;
  padding-left: 100px;
}
.abcol-2{
  flex-basis: 100%;
  min-width:1000px;
}

.abcol-2 h1 {
  font-size: 50px;
  line-height: 70px;
  margin:30px 0;
}
.abcol-2 p{
  font-size: 20px;
  line-height: 40px;
}
.abcol-2 img{
  border: 5px solid white; /* White border */
 border-radius: 35px;  /* Rounded border */
}

/* ------projects----- */

.prcontainer{
  max-width: 1000px;
  margin: auto;
  padding-left:5%;
  padding-right: 25px;
  padding-bottom: 12%;
  padding-top: 8%;
}

.prcontainer h1 {
  font-size: 50px;
  line-height: 70px;
  margin:30px 0;
}
.prrow{
  display: flex;
  align-items: center;
  flex-wrap" wrap;
  justify-content: space-around;
}

.prcolumn {
  float: left;
  width: 50%;
}



.prcolumn h1 {
  color: black;
  font-size: 30px;
  line-height: 70px;
  margin:30px 0;
}


.prcolumn-2 {
  padding-top:40px;
  float: left;
  width: 50%;
  padding-left: 100px;
}
.prcol-2{
  flex-basis: 100%;
  min-width:1000px;
}


.prcol-2 p{
  font-size: 20px;
  line-height: 40px;
}
.prcol-2 img{
  border: 5px solid white; /* White border */
 border-radius: 35px;  /* Rounded border */
}


/* ------contact----- */


.concontainer{
  max-width: 1000px;
  margin: auto;
  padding-left:5%;
  padding-right: 25px;
  padding-bottom: 12%;
  padding-top: 8%;
}

.concontainer h1 {
  font-size: 50px;
  line-height: 70px;
  margin:30px 0;
}
.conrow{
  display: flex;
  align-items: center;
  flex-wrap" wrap;
  justify-content: space-around;
}

.concolumn {
  float: left;
  width: 50%;
}


.concolumn-2 {
  padding-top: 0px;
  float: left;
  width: 50%;
  padding-left: 25px;
}
.concol-2{
  flex-basis: 100%;
  min-width:1000px;
}


.concol-2 p{
  font-size: 20px;
  line-height: 40px;
}
.concol-2 img{
  border: 5px solid white; /* White border */
 border-radius: 35px;  /* Rounded border */
}



/* ------form------ */

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

input[type=submit] {
  background-color: black;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

input[type=submit]:hover {
  background-color: grey;
}

.formcontainer {
  border-radius: 5px;
  padding: 10px;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 0px;
}

.col-75 {
  float: left;
  width: 50%;
  margin-top: 0px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}



/* ------footer------ */
.ftcontainer{
  max-width: 1000px;
  margin: auto;
  padding-left:8%;
  padding-right: 25px;
  padding-bottom: 100px;
}

.footer{
  background: #000;
  color:#8a8a8a;
  font-size:13px;
  padding: 20px 0 0px;
  margin-top: auto;
}
.footer p{
  color: #8a8a8a;
}
.footer h3{
  color: #fff;
  margin-bottom: 20px;
}

.footer-col-1{
  float: left;
  width: 33.33%;
}
.footer-col-2{
  float: left;
  width: 33.33%;
}
.footer-col-2 img{
  width: 180px;
  margin-bottom: 20px;
}
.footer-col-3{
  float: left;
  width: 33.33%;
}
ul{
  list-style-type: none;
}
.app-logo{
  margin-top: 20px;
}
.footer hr{
  float:left;
  width: 900px;

  border: none;
  background: #b5b5b5;
  height:1px;
  margin: 20px;
}
.copyright{
  text-align: center;
}

.menu-icon{

  width: 20px;
  margin-left: 15px;
}



@media screen and (max-width: 600px) {
  .concolumn-2, .concolumn {
    width: auto;
    text-align: left;
    padding: none;
  }
  .prcolumn, .prcolumn-2{
    width: auto;
    text-align: left;
    padding-left
  }
  .abcolumn, .abcolumn-2{
    width:auto;
    text-align: center;
    padding-left: 0;
  }
  .row{
    text-align: center;
    width: auto;
  }
  .col-2, .col-3, .col-4{
    flex-basis: 100%;
    width: auto;
  }
  .prcontainer h1{
    text-align: center;
  }
}
